body {
  background-image: linear-gradient(115deg, rgba(58 58 158 /80%), rgba(136 136 206 /70%)), url("/assets/image/survey.jpeg");

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-position: center;
  background-size: cover;
  color: white;
}  

fieldset {
  border: none;
}

.container {
  background-color: #1b1b32;
  width: 40%;
  margin: 20px auto 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 1cm;
  font-size: 1.562rem;
  font-weight: 100;
}

p {
  margin-top: 0;
  text-align: center;
  font-style: oblique;
  font-weight: lighter;
  font-size: 15px;
}

/* label {
  margin: 10px;
}  */

.one input,
select {
  display: block;
  width: 100%;
  padding: 0.4rem 0;
  margin-bottom: 1.5rem;
}

.radio {
  display: block;
}

#dropdown-two {
  width: 100%;
  padding: 0.5rem;
}

.check {
  width: 50%;
  display: block;
}

#submit {
  width: 94%;
  display: block;
  padding: 1rem;
  margin: 0 auto;
  background-color: #37af65;
  border: none;
  border-radius: 2px;
  color: white;
}

textarea {
  width: 94%;
  display: block;
  padding: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  min-height: 7rem;
}
